body, nav, ul, li, a  {margin: 0; padding: 0; }
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.nav_container {
    width: 100%;
    max-width: 2000px;
    color: #A1DCEA;
}
.toggleMenu {
    display:  none;
    background: #A1DCEA;
    padding: 10px 15px;
    color: #A1DCEA;
}
.nav {
	height: 70px;
    list-style: none;
     *zoom: 1;
     background:#A1DCEA;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#000;
}
.nav li {
    position: relative;
    width: 130px;
}
.nav > li {
    float: left;
    border-top: 1px solid #A1DCEA;
}
.nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
    background-color: #A1DCEA;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
    background-color: #A1DCEA;
}
.nav li li a {
    display: block;
    background: #A1DCEA;
    position: relative;
    z-index:100;
    border-top: 2px solid #ffffff; /*na border*/
}
.nav li li li a {
    background:;
    z-index:200;
    border-top: 1px solid #A1DCEA;
}
 .all{
 	margin-top:100px;
 }
 
 #ol{
    width: 50px;
    margin-top: 80px;
    margin-left: 100px;
    background-color:none;
}

#user{
    width: 100px;
    height: 80px;
    display: inline-block;
    border: 1px solid;
    background-color:none;
    align:center;
}

#Follow{
	background-color: #66FF66;
	float:right;
}

#Unfollow{
	background-color: #FF3333;
	float:right;
}

#data{
	width:20px;
}

#floatitleft{
    width:500px;
    float:left;
}

#floatitright{
	margin-top:-45px;
    margin-left: 500px;
}

#allStatistic{
	margin-top:100px;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: white;
    border:2px solid #83D0D8;
    align:left;
}

li a { 
    display: block;
}

.a {
    display: block;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    text-align:center;
}

.a:hover {
    background-color: #83D0D8;
    color: white;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;	
    border-spacing: 10px;
    text-align:center;    
}